$mainBackground: #000;
$earthBlue: #3022BB;
$red: #F60A0A;
/*$green: #00CC00;*/
$green: #00e6ac;
$engineGreen: #017101;
$grey: #CFC2C2;
$softRed: #E45151;
$yellow: #e5e600;
$lightBlue: #b3ebff;

/* Defaults */
.default-header {
  flex-basis: 10%;
  height: 10vh;
  border: 1px solid $grey;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .menu-container {
    flex-basis: 7%;
    width: 7%;
  }
}

.dropdown-menu {
  height: 10vh;
  width: 7%;
  i {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
  }
  &:hover {
    i {
      cursor: pointer;
    }  
    .menu {
      display: block;
    }
  }
  ul.menu {
    display: none;
    margin-top: .5rem;
    border: 2px solid #000;
    position: absolute;
    top: 10vh;
    background-color: #262626;
    li {
      border-bottom: 1px solid #262626;
      padding: .2rem .4rem;
    }
    li:hover {
      color: $lightBlue;
      cursor: pointer;
    }
  }
}


@-webkit-keyframes warningPulse { 
  0% {color: $softRed;} 
  50% {color: #dd2222;} 
  100% {color: $softRed;} 
}

@-webkit-keyframes criticalPulse { 
  0% {color: $red;} 
  50% {color: black;} 
  100% {color: $red;} 
}

.default-critical {
  -webkit-animation: criticalPulse 1s infinite;
}

.default-warning {
  -webkit-animation: warningPulse 3s infinite alternate; 
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 99vh;
  font-family: 'Lato', 'Roboto Condensed', 'Ubuntu', 'Roboto Slab', 'Droid Serif', 'Crimson Text', Trebuchet, sans-serif;;
  font-size: 20px;
  background-color: $mainBackground;
  color: white;
  font-weight: 300;
  overflow: hidden;
}

/* GENERAL */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}