.DS_Store

# SASS
.sass-cache
client/styles

# Auth setup
server/config/auth.js

# Dependencies
node_modules/
client/lib
client/dist
client/styles

#server access logs
server/config/access.log

#API Keys
client/keys/dashboardConfigure.js

#Environmental variables
.env
