/*This style sheet is divided into sections, one
for each view of in the application */
/**************************************
****** TABLE OF CONTENTS **************
***************************************
MISSION VIEW      -- line 47  *********
ORBIT VIEW        -- line xx  *********
ENGINES VIEW      -- line xx  *********
FUEL TANKS VIEW   -- line xx  *********
SPACECRAFT VIEW   -- line xx  *********
***************************************/




$mainBackground: #000;
$earthBlue: #3022BB;
$red: #F60A0A;
$green: #00CC00;
$engineGreen: #017101;
$grey: #CFC2C2;
$softRed: #E45151;

html {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  font-family: 'Lato', 'Roboto Condensed', 'Ubuntu', 'Roboto Slab', 'Droid Serif', 'Crimson Text', Trebuchet, sans-serif;;
  font-size: 20px;
  background-color: $mainBackground;
  color: white;
  font-weight: 300;
}

/* GENERAL */
ul {
  list-style: none;
}



/*********************************
********   MISSION VIEW **********
*********************************/

.mission {

  display: flex;
  flex-direction: row;
  background: linear-gradient(to bottom, #000000 45%, #3A388D 120%);


  .meta {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
  }

  .data {
    flex-basis: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid white;
  }

  .title {
    flex-basis: 15%;
    flex-grow: 0;
    margin: .5rem auto .5rem auto;
    h1 {
      font-size: 1.5rem;
      color: $green;
      margin-top: .1rem;
      margin-bottom: .1rem;
    }
  }

  .main-stats {
    flex-basis: 85%;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
  }

  .vehic-stats,
  .time {
    flex-basis: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    p {
      margin: 0 auto;
    }
    div {
      width: 90%;
      border: 2px solid $grey;
      padding: .2rem 0 .2rem 1rem;
    }
  }

  .trajectory {
    flex-grow: 1;
    flex-basis: 50%;
    p {
      font-size: 1rem;
      margin: .1rem;
      margin-right: 16rem;
      color: $green;
      border-bottom: 1px solid $grey;
      border-right: 1px solid $grey;
    }
  }


  .falcon-container {
    flex-basis: 10%;
    
  }

  img {
    display: block;
    margin: auto;
    height: 95vh;
    padding: .5rem 0 .5rem 0;
  }

  .engines-tanks {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    border: 1px solid $grey;
  } 

  /* STAGE 2 STYLES */

  .stage-2 {
    flex-basis: 35%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $grey;
    .tanks {
      flex-basis: 55%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-right: 1px solid $grey;
      .stage-2-title {
        flex-basis: 15%;
        flex-grow: 0;
        align-self: flex-start;
        color: $green;
        border-bottom: 1px solid $grey;
        border-right: 1px solid $grey;
        padding: 0 .2rem .2rem .2rem;
      }
      .s2-tanks {
        flex-basis: 15%;
        flex-shrink: 0;
        color: $softRed;
      } 
      .s2-tank-graphic {
        flex-basis: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .RP1,
        .LOX {
          flex-basis: 50%;
          display: flex;
          flex-direction: row;
        }
        .s2-RP1-stats,
        .s2-LOX-stats {
          display: flex;
          flex-direction: column;
          h3 {
            font-size: 1rem;
            color: $softRed;
            margin-bottom: .3rem;
            padding-left: .3rem
          }
          p {
            font-size: .8rem;
            margin: 0 0 .5rem .3rem;
            padding-left: .3rem;
            border-left: 2px solid $grey;
          }
        }

      }

    }
    .engines {
      flex-basis: 45%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .s2-engines {
        flex-basis: 20%;
        color: $softRed;
      }
      .s2-engine-graphic {
        flex-basis: 40%;
      }
      .s2-engines-stats {
        flex-basis: 40%;
      }
      th {
        border-bottom: 1px solid $grey;
        padding-right: .5rem;
      }
    }
  }

  /* STAGE 1 STYLES */

  .stage-1 {
    flex-basis: 65%;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    .tanks {
      flex-basis: 40%;
      border-right: 1px solid $grey;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .stage-1-title {
        flex-grow: 0;
        flex-basis: 10%;
        align-self: flex-start;
        color: $green;
        border-bottom: 1px solid $grey;
        border-right: 1px solid $grey;
        padding: 0 .2rem .2rem .2rem;
      }
      .s1-tanks {
        flex-grow: 0;
        flex-basis: 10%;
        color: $softRed;
      }
      .s1-tank-graphic {
        flex-basis: 80%;
        display: flex;
        flex-direction: column;
        .RP1,
        .LOX {
          flex-basis: 50%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }
        .s1-RP1-stats,
        .s1-LOX-stats {
          display: flex;
          flex-direction: column;
          h3 {
            font-size: 1rem;
            color: $softRed;
            margin-bottom: .3rem;
            padding-left: .3rem
          }
          p {
            font-size: .8rem;
            margin: 0 0 .5rem 0;
            padding-left: .3rem;
            border-left: 2px solid $grey;
          }
        }
      }
    }
    .engines {
      flex-basis: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .s1-engines {
        flex-basis: 10%;
        color: $softRed;
      }
      .s1-engine-graphic {
        flex-basis: 40%;
        position: relative;
      }
      .s1-engine-stats {
        flex-basis: 40%;
      }
      th {
        border-bottom: 1px solid $grey;
        padding-right: .5rem;
        font-size: 1rem;
      }
      tr {
        font-size: .5rem;
      }
      td {
        border-left: 1px solid $grey;
        padding-left: .5rem;
      }


    }

    /*** ENGINE GRAPHIC  ***/
    .circle {

      position: absolute;
      top: 50%;
      right: 50%;
      /*bottom: 0;
      left: 0;*/
      /*margin: auto;*/
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #006600;
      /*-webkit-transform: translateY(90px); */
      transform: translateY(85px);
      border: 1px solid black;
    }

    .circle-1 {
      /*transform: translateY(85px);*/
      transform: translateY(75px);
    }

    .circle-2 {
      transform-origin: center 100px;
      /*transform-origin: 50% 100px;*/
      transform: rotate(45deg);
    }

    .circle-3 {
      transform-origin: center 100px;
      transform: rotate(90deg);
    }

    .circle-4 {
      transform-origin: center 100px;
      transform: rotate(135deg);
    }

    .circle-5 {
      transform-origin: 50% 100px;
      transform: rotate(180deg);
    }

    .circle-6 {
      transform-origin: 50% 100px;
      transform: rotate(225deg);
    }

    .circle-7 {
      transform-origin: 50% 100px;
      transform: rotate(270deg);
    }

    .circle-8 {
      transform-origin: 50% 100px;
      transform: rotate(315deg);
    }

    .circle-9 {
      transform-origin: 50% 100px;
      transform: rotate(360deg);
    }
    
  }

  /*Actions*/
  .s1-engines span:hover,
  .s2-engines span:hover,
  .trajectory p:hover,
  .s1-tanks span:hover,
  .s2-tanks span:hover {
    cursor: pointer;
    color: #66ffff;
  }
  /*.stage-2-title,
  .stage-1-title {
    float: left;
    padding: .1rem 0 0 .2rem;
    height: 1.2rem;
    width: 4rem;
    color: $green;
    border-right: 1px solid $grey;
    border-bottom: 1px solid $grey;
  }*/
}





/*********************************
********   ORBIT VIEW  ***********
*********************************/

.orbit {

  

  display: flex;
  flex-direction: row; 
  align-items: stretch;

  p {
    color: white;
  }
  
  .main-container {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
  }

  /*canvas {
    flex-grow: 9;
    height: 90vh;
    width: 90vh;

  }*/

  .meta-data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    p {
      margin-right: 5rem;
      color: $red;
    }
  }

  i {
    margin-right: 5rem;
    color: white;
    font-size: 3rem; 
  }
  
  .data-container {
    flex-basis: 20%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    p {
    
    }
  }

  .field-names {
    display: flex;
    flex-direction: column;
    p {
      border-left: 2px solid white;
      padding-left: .5rem;
    }
  }

  .field-values {
    display: flex;
    flex-direction: column;
    p {
      color: green;
    }
  }

}


/*********************************
********   ENGINES VIEW **********
*********************************/

.engines-overview {

  display: flex;
  flex-direction: column;

  .header {
    flex-basis: 10%;
    height: 10vh;
    border: 1px solid $grey;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    i {
      flex-basis: 5%;
      width: 5%;
      font-size: 2rem;
      &:hover {
        cursor: pointer;
      }
    }
    h2 {
      flex-basis: 25%;
      width: 25%;
      font-size: 2rem;
      font-weight: 300;
      color: $green;
    }
    h4 {
      flex-basis: 35%;
      width: 30%;
      font-size: 1.5rem;
      font-weight: 200;
      color: white;
      .top-level-status {
        color: $green;
      }
    }
  }

  .row-1,
  .row-2 {
    background: linear-gradient(to bottom, #000000 45%, #3A388D 140%);    
    flex-basis: 44%;
    height: 44vh;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $grey;
    display: flex;
    flex-direction: row;
    list-style: none;
    .engine:nth-child(1) {
      border-left: 1px solid $grey;
    }
    .engine {
      flex-basis: 20%;
      width: 20%;
      border-right: 1px solid $grey;
      display: flex;
      flex-direction: column;
      div {
        flex-basis: 50%;
        height: 50%;
      }
      .graphic {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
      
      .info {
        flex-basis: 50%;
      }

      ul {
        list-style: none;
        padding:0;
        li {
          margin: .6rem auto;
          padding:0;
          font-size: .9rem;
          font-weight: 300;
        }
        .status {
          color: $green;
        }
      }

      .stats {
        display: flex;
        flex-direction: row;
      }
      .stats .stat-name {
        flex-basis: 70%;
        width: 70%; 
        li {
          padding-left: .2rem;
        }
      }
      .stats .stat-value {
        flex-basis: 30%;
        width: 30%;
        li {
          color: $green;
        }
      }
    }

    .engine-no {
      color: $softRed;
    }

    img {
      height: 24vh;
      width: auto;
    }

  }

  /*.row-2 {
    flex-basis: 45%;
    height: 45vh;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $grey;
    display: flex;
    flex-direction: row;
    list-style: none;
    li:nth-child(1) {
      border-left: 1px solid $grey;
    }
    li {
      flex-basis: 20%;
      width: 20%;
      border-right: 1px solid $grey;
      display: flex;
      flex-direction: column;
      div {
        flex-basis: 50%;
        height: 50%;
        width: 100%;
      }
      .graphic {
        display: flex;
        flex-direction: row;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          margin:0;
          padding:0;
          border-bottom: 1px solid $grey;
          font-size: .5rem;
        }
      }
    }
  }*/

}

/*********************************
*******  FUEL TANKS VIEW *********
*********************************/

.tank-overview {

  display: flex;
  flex-direction: column;

  background: linear-gradient(to bottom, #000000 50%, #653030 120%);

  .header {
    flex-basis: 10%;
    height: 10vh;
    border: 1px solid $grey;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    i {
      flex-basis: 5%;
      width: 5%;
      font-size: 2rem;
      &:hover {
        cursor: pointer;
      }
    }
    h2 {
      flex-basis: 25%;
      width: 25%;
      font-size: 2rem;
      font-weight: 300;
      color: $green;
    }
    h4 {
      flex-basis: 35%;
      width: 30%;
      font-size: 1.5rem;
      font-weight: 200;
      color: white;
      .top-level-status {
        color: $green;
      }
    }
  }

  .stage-1,
  .stage-2 {
    flex-basis: 44%;
    height: 44vh;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $grey;
    .graphic-container {
      flex-basis: 50%;
      width: 50%;
    }
    .LOX {
      border-left: 1px solid $grey;
    }
    .LOX,
    .RP1 {
      border-right: 1px solid $grey;
      display: flex;
      flex-direction: row;
    }
    .LOX .main-stats,
    .RP1 .secondary-stats {
      flex-basis: 33%;
      width: 33%;
    }
    ul {
      padding-left: .5rem;
      margin-top: 0;
    }
    ul li {
      margin: .3rem 0 .3rem 0;
    }
  }

  .secondary-stats {
    margin-top: 2rem;
  }

  .secondary-stats li:nth-child(even) {
    margin-bottom: .6rem;
  }
  .main-stats li:nth-child(odd) {
    margin-bottom: .6rem;
  }

  .fuel-type {
    color: $softRed;
    font-size: 1.25rem;
  }

  .title-bar {
    font-size: 1.25rem;
  }

  .stat-value {
    color: $green;
  }
}

/*********************************
*******   SPACECRAFT VIEW ********
*********************************/

.spacecraft {

  display: flex;
  flex-direction: column;

  .header {
    flex-basis: 10%;
    height: 10vh;
    border: 1px solid $grey;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    i {
      flex-basis: 5%;
      width: 5%;
      font-size: 2rem;
      &:hover {
        cursor: pointer;
      }
    }
    h2 {
      flex-basis: 25%;
      width: 25%;
      font-size: 2rem;
      font-weight: 300;
      color: $green;
    }
    h4 {
      flex-basis: 17%;
      width: 17%;
      align-self: center;
      font-size: 1.5rem;
      font-weight: 200;
      color: white;
      .top-level-status {
        color: $green;
      }
    }
  }

  .main {
    flex-basis: 88%;
    height: 88vh;
    display: flex;
    flex-direction: row;
    border: 1px solid $grey;
    .col-1,
    .col-2 {
      flex-basis: 25%;
      width: 25%;
      border-left: 1px solid $grey;
    }
    .col-3 {
      flex-basis: 50%;
      width: 50%;
      border-left: 1px solid $grey;
    }
    .col-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .dragon-image-container, 
    .orientation-graphic {
      flex-basis: 50%;
      height: 44vh;
      img {
        margin-top: .4rem;
      }
    }
    .orientation-graphic {
      border-top: 1px solid $grey;
      width: 100%;
    }

    .col-2 {
      display: flex;
      flex-direction: column;
    }
    .life-power-systems,
    .trajectory-graphic {
      flex-basis: 50%;
      height: 44vh;

    }
    .trajectory-graphic {
      border-top: 1px solid $grey;
      height: 44vh;
      h5:hover {
        cursor: pointer;
        color: #66ffff;
      }
    }
    .life-support,
    .power-systems {
      height: 22vh;
      ul {
        margin: .2rem 0;
        list-style: none;
        padding:0;
        li {
          margin: .1rem auto;
          padding:0;
          font-size: .8rem;
          font-weight: 300;
        }
        .status {
          color: $green;
        }
      }

      .stats {
        display: flex;
        flex-direction: row;
      }
      .stats .stat-name {
        flex-basis: 70%;
        width: 70%; 
        li {
          padding-left: .2rem;
        }
      }
      .stats .stat-value {
        flex-basis: 30%;
        width: 30%;
        li {
          color: $green;
        }
      }
    }
    .power-systems {
      border-top: 1px solid $grey;
    }

    .col-3 {
      display: flex;
      flex-direction: column;
      h5 {
        flex-basis: 8%;
        height: 4vh;
      }
      .super-draco {
        flex-basis: 20%;
        height: 22vh;
        border-top: 1px solid $grey;
      }
      .RCS {
        flex-basis: 70%;
        height: 63vh;
        border-top: 1px solid $grey;
      }
      .super-draco,
      .RCS {
        display: flex;
        flex-direction: row;
      }
      .engines,
      .fuel-tanks {
        flex-basis: 50%;
        width: 25%;
      }
      .engines {
        border-right: 1px solid $grey;
      }
      table {
        margin: auto;
      }
      th {
        font-size: .8rem;
        font-weight: 300;
        border-bottom: 1px solid $grey;
      }
      td {
        font-size: .8rem;
        color: $green;
      }

    }

  }

  h5 {
    font-size: 1rem;
    font-weight: 300;
    color: $softRed;
    margin: .2rem 0 0 .2rem;
  }



}














