/*This style sheet is divided into sections, one
for each view of in the application */
/**************************************
****** TABLE OF CONTENTS **************
***************************************
MISSION VIEW      -- line 47  *********
ORBIT VIEW        -- line xx  *********
ENGINES VIEW      -- line xx  *********
FUEL TANKS VIEW   -- line xx  *********
SPACECRAFT VIEW   -- line xx  *********
***************************************/

$mainBackground: #000;
$earthBlue: #3022BB;
$red: #F60A0A;
/*$green: #00CC00;*/
$green: #00e6ac;
$engineGreen: #017101;
$grey: #CFC2C2;
$softRed: #E45151;
$yellow: #e5e600;
$lightBlue: #b3ebff;

/* Defaults */
.default-header {
  flex-basis: 10%;
  height: 10vh;
  border: 1px solid $grey;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .menu-container {
    flex-basis: 7%;
    width: 7%;
  }
}

.dropdown-menu {
  height: 10vh;
  width: 7%;
  i {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
  }
  &:hover {
    i {
      cursor: pointer;
    }  
    .menu {
      display: block;
    }
  }
  ul.menu {
    display: none;
    margin-top: .5rem;
    border: 2px solid #000;
    position: absolute;
    top: 10vh;
    background-color: #262626;
    li {
      border-bottom: 1px solid #262626;
      padding: .2rem .4rem;
    }
    li:hover {
      color: $lightBlue;
      cursor: pointer;
    }
  }
}


@-webkit-keyframes warningPulse { 
  0% {color: $softRed;} 
  50% {color: #dd2222;} 
  100% {color: $softRed;} 
}

@-webkit-keyframes criticalPulse { 
  0% {color: $red;} 
  50% {color: black;} 
  100% {color: $red;} 
}

.default-critical {
  -webkit-animation: criticalPulse 1s infinite;
}

.default-warning {
  -webkit-animation: warningPulse 3s infinite alternate; 
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 99vh;
  font-family: 'Lato', 'Roboto Condensed', 'Ubuntu', 'Roboto Slab', 'Droid Serif', 'Crimson Text', Trebuchet, sans-serif;;
  font-size: 20px;
  background-color: $mainBackground;
  color: white;
  font-weight: 300;
  overflow: hidden;
}



/* GENERAL */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*********************************
********   SIGNIN VIEW **********
*********************************/

.signin {

  height: 99vh;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $mainBackground;
  background-image: url("../assets/earthrise-2.png");
  background-position: left;


  h1 {
    font-weight: 300;
  }

  p {
    font-weight: 200;
    margin: .4rem 0;
  }

  button {
    transition: 0.2s;
    margin-top: 1rem;
    height: 50px;
    width: 170px;
    border: 1px solid $lightBlue;
    color: $lightBlue;
    background-color: $mainBackground;
    font-size: 1rem;
  }

  .github {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      height: 4rem;
    }

  }

  a:hover {
    cursor: pointer;
  }

  button:hover {
    transition: 0.2s;
    cursor: pointer;
    
    background-color: $lightBlue;
    color: $mainBackground;
  }


}





/*********************************
********   MISSION VIEW **********
*********************************/

.mission {

  display: flex;
  flex-direction: row;
  background: linear-gradient(to bottom, #000000 45%, #3A388D 160%);


  .meta {
    flex-basis: 30%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
  }

  .data {
    height: 41vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .title {
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    h1 {
      margin-top: 0.5rem;
      margin-left: .5rem;
      font-size: 1.5rem;
      margin-bottom: .2rem;
      font-weight: 200;
      color: $green;
    }
    padding-bottom: .1rem;
  }

  .dropdown {
    @extend .dropdown-menu;
    width: 30%;
  }

  .dropdown ul.menu {
    top: 9.5vh;
  }


  .main-stats {
    flex-basis: 75%;
    display: flex;
    flex-direction: row;
  }

  .vehic-stats,
  .time {
    flex-basis: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    p {
      margin: 0 auto;
    }
    div {
      width: 90%;
      border-top: 1px solid $grey;
      border-bottom: 1px solid $grey;
      padding: .2rem 0 .2rem 1rem;
    }
    .stat-value {
      font-weight: 200;
    }
  }
  .time div {
    border-left: 1px solid $grey;
  }

  .trajectory {
    flex-basis: 50%;
    height: 50vh;
    p {
      font-size: 1rem;
      margin: .2rem;
      margin-right: 14.3rem;
    }
  }

  .falcon-container {
    flex-basis: 10%;
    width: 10vw;
    
  }

  img {
    display: block;
    margin: auto;
    height: 95vh;
    padding: .5rem 0 .5rem 0;
  }

  .engines-tanks {
    flex-basis: 60%;
    width: 60vw;
    display: flex;
    flex-direction: column;
    border: 1px solid $grey;
  } 

  /* STAGE 2 STYLES */

  .stage-2 {
    flex-basis: 35%;
    height: 32vh;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $grey;
    .tanks {
      flex-basis: 60%;
      width: 60%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-right: 1px solid $grey;
      .stage-2-title {
        flex-basis: 15%;
        flex-grow: 0;
        align-self: flex-start;
        color: $green;
        padding: 0 .2rem .2rem .2rem;
        font-weight: 200;
      }
      .s2-tanks {
        flex-basis: 5%;
        height: 5%;
        margin: 0;
        margin-top: -1rem;
        font-size: 1rem;
        font-weight: 300;
      } 
      .s2-tank-graphic {
        flex-basis: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .RP1,
        .LOX {
          flex-basis: 50%;
          display: flex;
          flex-direction: row;
          div {
            width: 100%;
          }
        }
        .s2-RP1-stats,
        .s2-LOX-stats {
          display: flex;
          flex-direction: column;
          h3 {
            font-size: 1rem;
            font-weight: 300;
            color: $softRed;
            margin-bottom: .3rem;
            padding-left: .3rem
          }
          p {
            font-size: .8rem;
            margin: 0 0 .5rem .3rem;
            color: white;
            font-weight: 200;
          }
          .tank-header {
            font-weight: 300;
            margin-bottom: .1rem;
            margin-top: .2rem;
          }
        }

      }

    }
    .engines {
      flex-basis: 32%;
      height: 32vh;
      width: 45%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .s2-engines {
        flex-basis: 20%;
        height: 20%;
        color: white;
        padding-top: .5rem;
      }
      .s2-engine-graphic {
        flex-basis: 40%;
        height: 40%;
        width: 100%;
        position: relative;
        .circle {
          top: -81%;
          right: 40%;
          border: 2px solid grey;
        }
      }
      .s2-engines-stats {
        flex-basis: 40%;
        height: 40%
      }
      th {
        font-size: 1rem;
        font-weight: 200;
        border-bottom: 1px solid $grey;
        padding-right: .2rem;
      }
      td {
        color: $lightBlue;
      }
    }
  }

  /* STAGE 1 STYLES */

  .stage-1 {
    flex-basis: 65%;
    height: 66vh;
    width: 100%;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    .tanks {
      flex-basis: 40%;
      border-right: 1px solid $grey;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .stage-1-title {
        flex-grow: 0;
        flex-basis: 5%;
        align-self: flex-start;
        color: $green;
        padding: 0 .2rem .2rem .2rem;
        font-weight: 200;
        margin-top: -.5rem;
      }
      .s1-tanks {
        flex-basis: 5%;
        height: 5%;
        margin: 0;
        margin-top: -1rem;
        font-size: 1rem;
        font-weight: 300;
      }
      .s1-tank-graphic {
        flex-basis: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        .RP1,
        .LOX {
          flex-basis: 50%;
          height: 50%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-right: -1.5rem;
        }
        .s1-RP1-stats,
        .s1-LOX-stats {
          width: 30%;
          display: flex;
          flex-direction: column;
          div {
            width: 9vw;
          }
          h3 {
            font-size: 1rem;
            font-weight: 300;
            color: $softRed;
            margin-bottom: .3rem;
            padding-left: .3rem;
          }
          p {
            font-size: .8rem;
            margin: 0 0 .5rem 0;
            padding-left: .3rem;
            font-weight: 200;
          }
          .tank-header {
            font-weight: 300;
            margin-bottom: .1rem;
            margin-top: .8rem;
          }
        }
      }
    }

    

    .engines {
      flex-basis: 66%;
      height: 66vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .s1-engines {
        flex-basis: 8%;
        height: 8%;
        color: white;
        padding-top: .5rem;
      }
      .s1-engine-graphic {
        flex-basis: 43%;
        height: 43%;
        width: 45%;
        position: relative;
        border: 2px ridge $grey;
        border-radius: 50%;
      }
      .s1-engine-stats {
        flex-basis: 45%;
        height: 45%;
      }
      th {
        font-weight: 200;
        border-bottom: 1px solid $grey;
        padding-right: .5rem;
        font-size: 1rem;
      }
      tr {
        font-size: .6rem;
      }
      td {
        border-left: 1px solid $grey;
        padding-left: .5rem;
        color: $lightBlue;
      }
    }    
  }

  .circle {
    background: radial-gradient(ellipse at center, #83c783 11%,#52b152 60%,#b4ddb4 66%,#b4ddb4 66%,#005700 70%,#002400 93%);
    position: absolute;
    top: 0%;
    right: 37.5%;
    /*bottom: 0;
    left: 0;*/
    /*margin: auto;*/
    width: 3.9vw;
    height: 3.9vw;
    border-radius: 50%;
    /*background-color: #006600;*/
    /*-webkit-transform: translateY(90px); */
    transform: translateY(6.4vw);
    border: 1px solid black;
  }

  .circle-1 {
    /*transform: translateY(85px);*/
    transform: translateY(5.55vw);
  }

  .circle-2 {
    transform-origin: center 7.7vw;
    /*transform-origin: 50% 7.7vw;*/
    transform: rotate(45deg);
  }

  .circle-3 {
    transform-origin: center 7.7vw;
    transform: rotate(90deg);
  }

  .circle-4 {
    transform-origin: center 7.7vw;
    transform: rotate(135deg);
  }

  .circle-5 {
    transform-origin: 50% 7.7vw;
    transform: rotate(180deg);
  }

  .circle-6 {
    transform-origin: 50% 7.7vw;
    transform: rotate(225deg);
  }

  .circle-7 {
    transform-origin: 50% 7.7vw;
    transform: rotate(270deg);
  }

  .circle-8 {
    transform-origin: 50% 7.7vw;
    transform: rotate(315deg);
  }

  .circle-9 {
    transform-origin: 50% 7.7vw;
    transform: rotate(360deg);
  }

  .nominal {
    background-color: #006600;
  }

  /*Actions*/
  .s1-engines span:hover,
  .s2-engines span:hover,
  .trajectory p:hover,
  h3.s1-tanks:hover,
  h3.s2-tanks:hover {
    cursor: pointer;
    color: #66ffff;
  }
  .trajectory canvas:hover {
    cursor: -webkit-grab;
  }
  /*.stage-2-title,
  .stage-1-title {
    float: left;
    padding: .1rem 0 0 .2rem;
    height: 1.2rem;
    width: 4rem;
    color: $green;
    border-right: 1px solid $grey;
    border-bottom: 1px solid $grey;
  }*/
}





/*********************************
********   ORBIT VIEW  ***********
*********************************/

.orbit {
  
  display: flex;
  flex-direction: row; 
  align-items: stretch;

  p {
    color: white;
  }
  
  .main-container {
    flex-basis: 75%;
    width: 75vw;
    display: flex;
    flex-direction: column;
  }

  .header {
    @extend .default-header;
    border: 0px solid $grey;
    border-bottom: 1px solid $grey;
    h2 {
      margin-top: 1rem;
      flex-basis: 40%;
      width: 40%;
      font-size: 1.5rem;
      font-weight: 200;
      color: $green;
    }
    h4 {
      margin-top: 1.5rem;
      flex-basis: 35%;
      width: 30%;
      font-size: 1.5rem;
      font-weight: 200;
      color: white;
      .top-level-status {
        color: $green;
      }
    }
  }

  .dropdown {
    @extend .dropdown-menu;
    ul.menu {
      top: 9.9vh;
    }
  }

  .trajectory-graphic {
    flex-basis: 88%;
    height: 88vh;
    &:hover {
      cursor: -webkit-grab;
    }
  }
  
  .data-container {
    flex-basis: 25%;
    width: 25vw;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-left: 1px solid $grey;
    background: linear-gradient(to bottom, #000000 45%, #3A388D 140%);    
    font-size: .9rem;
    li {
      margin-top: .5rem;
      border-bottom: 1px solid $grey;
      padding-bottom: .2rem;
    }
  }

  .field-names {
    flex-basis: 50%;
    width: 50%;
    padding-left: .4rem;
    display: flex;
    flex-direction: column;
  }

  .field-values {
    flex-basis: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    li {
      color: $lightBlue;
      padding-left: 2rem;
    }
    
  }

}


/*********************************
********   ENGINES VIEW **********
*********************************/

.engines-overview {

  display: flex;
  flex-direction: column;

  .header {
    @extend .default-header;
    h2 {
      margin-top: 1rem;
      flex-basis: 25%;
      width: 25%;
      font-size: 1.5rem;
      font-weight: 200;
      color: $green;
    }
    h4 {
      margin-top: 1.5rem;
      flex-basis: 35%;
      width: 30%;
      font-size: 1.5rem;
      font-weight: 200;
      color: white;
      .top-level-status {
        color: $green;
      }
    }
  }
 
  .dropdown {
    @extend .dropdown-menu;
  }

  .row-1,
  .row-2 {
    background: linear-gradient(to bottom, #000000 45%, #3A388D 140%);    
    flex-basis: 44%;
    height: 44vh;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $grey;
    display: flex;
    flex-direction: row;
    list-style: none;
    .engine:nth-child(1) {
      border-left: 1px solid $grey;
    }
    .engine {
      flex-basis: 20%;
      width: 20%;
      border-right: 1px solid $grey;
      display: flex;
      flex-direction: column;
      div {
        flex-basis: 50%;
        height: 50%;
      }
      .graphic {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
      .info {
        flex-basis: 50%;
      }
      ul {
        list-style: none;
        padding:0;
        li {
          margin: .6rem auto;
          padding:0;
          font-size: .9rem;
          font-weight: 300;
        }
        .status {
          color: $green;
        }
        li.warning {
          @extend .default-warning;
        }
      }

      .stats {
        display: flex;
        flex-direction: row;
      }
      .stats .stat-name {
        flex-basis: 70%;
        width: 70%; 
        li {
          padding-left: .2rem;
        }
      }
      .stats .stat-value {
        flex-basis: 30%;
        width: 30%;
        
        color: $lightBlue;
        .warning {
          @extend .default-warning;
        }
      }
    }

    .engine-no {
      
    }

    img {
      height: 24vh;
      max-width: 10vw;
    }

  }

}

/*********************************
*******  FUEL TANKS VIEW *********
*********************************/

.tank-overview {

  display: flex;
  flex-direction: column;

  background: linear-gradient(to bottom, #000000 50%, #653030 160%);

  .header {
    @extend .default-header;
    h2 {
      margin-top: 1rem;
      flex-basis: 25%;
      width: 25%;
      font-size: 1.5rem;
      font-weight: 200;
      color: $green;
    }
    h4 {
      margin-top: 1.5rem;
      flex-basis: 35%;
      width: 30%;
      font-size: 1.5rem;
      font-weight: 200;
      color: white;
      .top-level-status {
        color: $green;
      }
    }
  }

  .dropdown {
    @extend .dropdown-menu;
  }

  .stage-1,
  .stage-2 {
    flex-basis: 44%;
    height: 44vh;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $grey;
    .graphic-container {
      flex-basis: 50%;
      width: 50%;
    }
    .LOX {
      border-left: 1px solid $grey;
    }
    .LOX,
    .RP1 {
      border-right: 1px solid $grey;
      display: flex;
      flex-direction: row;
    }
    .LOX .main-stats,
    .RP1 .secondary-stats {
      flex-basis: 33%;
      width: 33%;
    }
    ul {
      padding-left: .5rem;
      margin-top: 0;
    }
    ul li {
      margin: .45vw 0 0 0;
    }
  }

  .secondary-stats {
    margin-top: 2rem;
  }

  .secondary-stats li:nth-child(even) {
    margin-bottom: .4vw;
  }
  .main-stats li:nth-child(odd) {
    margin-bottom: .4vw;
  }

  .fuel-type {
    color: $softRed;
    font-size: 1.25rem;
  }

  .title-bar {
    font-size: 1.25rem;
  }

  .stat-value {
    color: $lightBlue;
  }
}

/*********************************
*******   SPACECRAFT VIEW ********
*********************************/

.spacecraft {

  display: flex;
  flex-direction: column;

  .header {
    @extend .default-header;
    h2 {
      margin-top: 1rem;
      flex-basis: 25%;
      width: 25%;
      font-size: 1.5rem;
      font-weight: 200;
      color: $green;
    }
    h4 {
      flex-basis: 17%;
      width: 17%;
      align-self: center;
      font-size: 1.5rem;
      font-weight: 200;
      color: white;
      .top-level-status {
        color: $green;
      }
    }
  }

  h5 {
    font-size: 1rem;
    font-weight: 300;
    color: $softRed;
    margin: .5rem 0 0 .5rem;
  }

  .dropdown {
    @extend .dropdown-menu;
  }

  .main {
    flex-basis: 88%;
    height: 88vh;
    display: flex;
    flex-direction: row;
    border: 1px solid $grey;
    .col-1,
    .col-2 {
      flex-basis: 25%;
      width: 25%;
      border-left: 1px solid $grey;
    }
    .col-3 {
      flex-basis: 50%;
      width: 50%;
      border-left: 1px solid $grey;
    }
    .col-1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .dragon-image-container {
      height: 50vh;
    }

    .dragon-image-container {
      img {
        margin-left: 6vw;
        margin-top: 5px;
      }
    }

    .col-2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .trajectory-graphic {
      height: 50vh;
    }
    .trajectory-graphic {
      h5:hover {
        cursor: pointer;
        color: #66ffff;
      }
    }
    .life-support,
    .power-systems {
      border-top: 1px solid $grey;
      height: 35vh;
      ul {
        margin: .2rem 0;
        list-style: none;
        padding:0;
        li {
          margin: .5rem auto;
          padding:0;
          font-size: .8rem;
          font-weight: 300;
        }
        .status {
          color: $green;
        }
      }

      .stats {
        display: flex;
        flex-direction: row;
        margin-left: 0.5rem;
      }
      .stats .stat-name {
        flex-basis: 70%;
        width: 70%; 
        li {
          padding-left: .2rem;
        }
      }
      .stats .stat-value {
        flex-basis: 30%;
        width: 30%;
        li {
          color: $lightBlue;
        }
      }
    }
    .power-systems {
      border-top: 1px solid $grey;
    }

    .col-3 {
      display: flex;
      flex-direction: column;
      h5 {
        margin-bottom: .5rem;
      }
      h6 {
        font-size: 1rem;
        font-weight: 300;
        color: $softRed;
        margin: .5rem 0 .5rem .6rem;
      }
      .prop-fuel-systems {
        height: 84vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-top: 1px solid $grey;
      }
      .RCS, 
      .draco {
        flex-basis: 50%;
        width: 50%;
      }
      .draco {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-left: 1px solid $grey;
        h6 {
          font-size: 1rem;
          font-weight: 300;
          color: $softRed;
          margin: .5rem 0 .5rem .6rem;
        }
      }
      table {
        margin-left: .6rem;
        width: 90%;
      }
      th {
        font-size: .8rem;
        font-weight: 300;
        border-bottom: 1px solid $grey;
      }
      td {
        font-size: .8rem;
        padding-bottom: .3rem;
        color: $lightBlue;
        margin: auto;
      }

    }

  }

}















