$mainBackground: #000;
$earthBlue: #3022BB;
$red: #F60A0A;
$green: #00CC00;

html {
  font-size: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  background-color: $mainBackground;
  color: white;
}


/*********************************
********   MISSION VIEW **********
*********************************/

.mission {

  display: flex;
  flex-direction: row;

  .meta {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
  }

  .data {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
  }

  .title {
    flex-basis: 20%;
    flex-grow: 1;
    display: block;
    margin: .5rem auto .5rem auto;
    p {
      font-size: 1rem;
      color: $green;
    }
  }

  .main-stats {
    flex-basis: 80%;
    display: flex;
    flex-direction: row;
  }

  .vehic-stats,
  .time {
    flex-basis: 50%;
    flex-grow: 1;
  }

  .trajectory {
    flex-basis: 50%;
    border: 1px solid white;
  }

  canvas {
    height: 90%;
    width: 90%;
  }

  .falcon-container {
    flex-basis: 10%;
    border: 1px solid white;
  }

  img {
    display: block;
    margin: auto;
    height: 95vh;
    padding: .5rem 0 .5rem 0;
  }

  .engines-tanks {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
  } 

  .stage-2 {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    .tanks {
      flex-grow: 2;
      display: flex;
      flex-direction: row;
    }
    .engines {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
    }
  }

  .stage-1 {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    border: 1px solid white;
  }

}





/*********************************
********   ORBIT VIEW  ***********
*********************************/

.orbit {

  

  display: flex;
  flex-direction: row; 
  align-items: stretch;

  p {
    color: white;
  }
  
  .main-container {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
  }

  /*canvas {
    flex-grow: 9;
    height: 90vh;
    width: 90vh;

  }*/

  .meta-data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    p {
      margin-right: 5rem;
      color: $red;
    }
  }

  i {
    margin-right: 5rem;
    color: white;
    font-size: 3rem; 
  }
  
  .data-container {
    flex-basis: 20%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    p {
    
    }
  }

  .field-names {
    display: flex;
    flex-direction: column;
    p {
      border-left: 2px solid white;
      padding-left: .5rem;
    }
  }

  .field-values {
    display: flex;
    flex-direction: column;
    p {
      color: green;
    }
  }

}













