<div class="signin">

    
    <h1>Welcome to Tycho!</h1>
    <p>The purpose of this project is to use modern web technologies to build a clean, intuitive interface for viewing launch vehicle and spacecraft data</p>
    <p>Web technology has come a long way in the last few years, and our interfaces for monitoring hardware systems should reflect that</p>
    <br>
    <p>Click below to view a demo</p>
    <button ng-click="auth.signin()">Launch</button>

    
    <div class="github"> 

      <p>Also check out the repo on github and contribute(or criticize) if you're interested</p>

      <a href="https://github.com/MattLoftus/tycho.git">
        <img src="../../assets/github-icon.png">
      </a>
      
    </div>






  <!-- <div>
    <h5>Log In</h5>

    <form name="auth.form" ng-submit="auth.signin()">
      <input type="text" name="username" ng-model="auth.user.username" placeholder="Username" ng-pattern='/^[a-zA-Z0-9]*$/' required><br>

      <input type="password" name="password" ng-model="auth.user.password" placeholder="Password" required><br>

      <input type"text" name="mission ID" ng-model="auth.missionID" required><br>

      <p>{{ auth.message }}</p>

      <button type="submit">Log In</button>
    </form>

  </div> -->
</div>
